html,
body {
  width: 100vw; /* Garante que o body ocupe a largura completa */
  max-width: 100vw; /* Impede rolagem horizontal indesejada */
  overflow-x: hidden;
  background-color: #5f47a9 !important; /* Substitui por um código de cor válido */
}
